# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

*.csv
# Python virtual environments
venv/
.venv/
env/
.dockerignore

cv-output/
roles-input/
skills-input.json

llm_data/
llm_old/
textsqltxt/
sqldata/
sqltxt/
llm_chunks_more/
llm_chunks/
llm_chunks_2/
savedchunks/
old_skill_chunks/
rules_skills_chunks/
csvdata/
tests/

# Python cache files
__pycache__/
*.py[cod]

# Optional Python tooling
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Environment variables
.env

# testing
/coverage

# next.js
/.next/
/.well-known/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video


















